replicaCount: 1

service:
  ports:
    - name: http
      port: 3001
      containerPort: 3001
ingress:
  path: /api/car
  port: 3001

selector:
  app: car

image:
  name: car
  tag: 2

config:
  POSTGRES_DB: demo
  POSTGRES_HOST: postgres

secret:
  POSTGRES_USER: demo
  POSTGRES_PASSWORD: demo

migrations:
  image:
    name: car-migrations
    tag: 1
  config:
    DATABASE_URL: "postgres://demo:demo@postgres:5432/demo?sslmode=disable"

virtual:
  timeout: 5s
  retries:
    attempts: 3
    retryOn: 5xx
    perTryTimeout: 5s

destination:
  consecutive5xxErrors: 5
  interval: 10s
  baseEjectionTime: 30s
  maxEjectionPercent: 80